<!-- Thymeleaf fragment base page -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <!-- include javascript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>

</head>
<body>

<nav th:switch="${username.username}" class="navbar navbar-expand-sm bg-secondary navbar-dark justify-content-center fixed-bottom" th:fragment="navigation">
    <a class="navbar-brand" href="/hub">Adulting</a>
    <a th:case="'AdultAdmin'" class="navbar-brand" href="/hub/add">Add A Quest</a>
    <a class="navbar-brand" href="/login">Logout</a>
</nav>

<form method="post" th:fragment="quest-list">
    <table class="table">

        <tr>
            <th>Complete</th>
            <th>Quest Name</th>
            <th>Experience Points</th>
        </tr>

        <tr th:each="quest : ${quests}">
            <td class="quest-checkbox" ><input  type="checkbox" name="questIds" th:value="${quest.id}" th:id="${quest.id}"/></td>
            <td th:text="${quest.name}"></td>
            <td class="quest-points" th:text="${quest.points}"></td>
            <td><a th:href="@{'/hub/edit/' + ${quest.id}}">Edit</a></td>
        </tr>

        <input type="hidden" name="username" th:object = "${username}" th:value = "*{username}">

    </table>
    <div class="complete-quest-button">
        <button type="submit" class="btn btn-warning">Complete Quest</button>
    </div>
</form>

</body>
</html>