<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>

<h1>Let's Get Adulting!</h1>
<h3>You Got This!</h3>

<p>Pick an area to level up in:</p>
<ul>
    <li><a href="/social">The Social Arena</a></li>
    <li><a href="/health">The Halls Of Health</a></li>
    <li><a href="/schedule">The Maze Of Scheduling</a></li>
    <li><a href="/money">The Misty Mountains Of Money</a></li>
    <li><a href="/learning">The Snowy Dunes Of Learning</a></li>
    <li><a href="/homeandlawn">The Jungles Of Home And Lawn</a></li>
    <li><a href="/generosity">The Fields Of Generosity</a></li>
</ul>

</body>
</html>