<!-- Template for "The Hub" page -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body id="bootstrap-override" class="container">

<a href="/hub" ><img class="img-fluid" src="http://localhost:8080/images/Adulting-title.png"/></a>

<div class="buttons-container">
    <div class = "user-data" th:object = "${username}">
        <div class="user-text">
            <h2 th:text = "'Welcome, ' + *{username}"></h2>
            <h4  th:text = "'Level: ' + *{level} + ' ' + '  Experience: ' + *{experience}" ></h4>
        </div>
    </div>
    <div class="main-button" >
       <a href="/social" onmouseover="highlightSocial()" onmouseout="unhighlightSocial()">
           <img class="img-fluid" id="social-button" src="http://localhost:8080/images/Adulting- social button.png" />
       </a>
    </div>
    <div class="main-button">
        <a  href="/health" onmouseover="highlightHealth()" onmouseout="unhighlightHealth()">
            <img class="img-fluid" id="health-button" src="http://localhost:8080/images/Adulting- health button.png"/>
        </a>
    </div>
    <div class="main-button">
        <a  href="/schedule" onmouseover="highlightSchedule()" onmouseout="unhighlightSchedule()">
            <img class="img-fluid" id="schedule-button" src="http://localhost:8080/images/Adulting- schedule button.png"/>
        </a>
    </div>
    <div class="main-button">
        <a  href="/money" onmouseover="highlightMoney()" onmouseout="unhighlightMoney()">
            <img class="img-fluid" id="money-button" src="http://localhost:8080/images/Adulting- money button.png"/>
        </a>
    </div>
    <div class="main-button" onmouseover="highlightLearning()" onmouseout="unhighlightLearning()">
        <a  href="/learning" >
            <img class="img-fluid" id="learning-button" src="http://localhost:8080/images/Adulting- learning button.png"/>
        </a>
    </div>
    <div class="main-button">
        <a  href="/homeandlawn" onmouseover="highlightHome()" onmouseout="unhighlightHome()">
            <img class="img-fluid" id="home-button" src="http://localhost:8080/images/Adulting- home button.png"/>
        </a>
    </div>
    <div class="main-button">
        <a  href="/generosity" onmouseover="highlightGenerosity()" onmouseout="unhighlightGenerosity()">
            <img class="img-fluid" id="generosity-button" src="http://localhost:8080/images/Adulting- generosity button.png"/>
        </a>
    </div>
</div>

<nav th:replace="fragments :: nav"></nav>

</body>

</html>